#---------------------------------------------------------
#
#	CartET - Open Source Shopping Cart Software
#	http://www.cartet.org
#
#---------------------------------------------------------

<Files ~ "*">
	Order allow,deny
	Deny from all
</Files>