#-----------------------------------------------
#
#	CartET - Open Source Shopping Cart Software
#	http://www.cartet.org
#
#-----------------------------------------------

<Files *.html>
Order Deny,Allow
Deny from all
</Files>
<Files *.php>
Order Deny,Allow
Deny from all
</Files>