#-----------------------------------------------
#
#	OSC-CMS - Open Source Shopping Cart Software
#	http://osc-cms.com
#
#-----------------------------------------------

<Files *.html>
Order Deny,Allow
Deny from all
</Files>
<Files *.php>
Order Deny,Allow
Deny from all
</Files>