/*
*---------------------------------------------------------
*
*	CartET - Open Source Shopping Cart Software
*	http://www.cartet.org
*
*---------------------------------------------------------
*/

input {border: expression( this.type=="radio" ? 'solid 0px' : 'inherit' );} 
input {border: expression( this.type=="checkbox" ? 'solid 0px' : 'inherit' );} 
.sect1 {line-height: 15px;}  
.chapter {line-height: 30px;}